@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "poopins",sans-serif;
    background-color: white;
}

/* .slide{
    text-align: center;
    margin-top: 100px;
    background-color: white;
    color: black;
} */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
    padding-top: 32%;
    padding-bottom: 32%;
    /* background: #b8b1db; */
    font-weight: bold;
    color: black;
    background-color: rgb(247, 247, 247);
  
    
}

form{
    max-width: 400px;
    max-height: 25%;
    margin-top: 50px;
    width: 50%;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 35px;
    
}
form h1{
    font-size: 30px;
    text-align: center;
}

form .input-box{
    margin-top: 20px;
}

.input-box .field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;

}
 
.input-box .field.message{
    height: 200px;
    resize: none;
}

form button{
    width: 100%;
    height: 55px;
    background: #826afb;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover{
    background: #624ec6;
}

li a{
    font-weight: bold;
    color: black;
}

/* nav h1{
    padding-top: 32%;
    font-weight:bold ;
} */

#search {
    background-color: white;
    color: black;
}

